{{ $permalink := .Permalink }}
<meta property="og:type" content="{{ if eq .Kind "page" }}article{{ else }}website{{ end }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
<meta property="og:url" content="{{ $permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

{{ with .Params.images }}
  {{ range first 1 . }}
    <meta property="og:image" content="{{ . | relURL | absURL }}" />
  {{ end }}
{{ else }}
  <meta property="og:image" content="{{ "images/social-card.svg" | relURL | absURL }}" />
{{ end }}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
