{{ $title := cond (eq .Title .Site.Title) .Title (printf "%s • %s" .Title .Site.Title) }}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ $title }}</title>
<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
{{ with .Params.tags }}
  <meta name="keywords" content="{{ delimit . ", " }}" />
{{ end }}

{{ $mainCSS := resources.Get "css/main.css" | fingerprint }}
<link rel="stylesheet" href="{{ $mainCSS.RelPermalink }}" integrity="{{ $mainCSS.Data.Integrity }}" />

{{ if .Site.Params.enableDarkMode }}
  <script>
    (() => {
      const theme = localStorage.getItem("theme-preference");
      if (!theme) {
        return;
      }
      if (theme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    })();
  </script>
{{ end }}
{{ partial "seo/opengraph.html" . }}
